.body {
    background-color: #343541;
    color: #c6cad0;
    width: 25rem;
}

.header, .main-inp-group {
    padding-left: 1rem;
    padding-right: 1rem;
}

.header {
    padding-top: 1rem;
    border-bottom: 1px solid #444654;
    padding-bottom: 0.5rem;
}

.header h1 {
    text-align: center;
}

.responses {
    height: 25rem;
    min-height: 10rem;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-bottom: 0.5rem;
}

.response {
    padding: 1rem;
    margin: 0.6rem 0.6rem 0 0.6rem;
    max-width: 21rem;
    width: 21rem;
    border-radius: 0.5rem;
}

.user {
    background-color: #343541;
    border: 1px solid #444654;
}

.assistant {
    background-color: #444654;
    margin-left: auto;
}

.error {
    background-color: #e58a92;
    margin-left: auto;
    margin-right: auto;
    color: #202123;
    text-align: center;
    font-weight: bold;
}


.main-inp-group {
    border-top: 1px solid #444654;
    padding-top: 0.8rem;
    position: absolute;
    bottom: 0;
}

.main-inp {
    background-color: #343541 !important;
    border: 1px solid #c6cad0;
    color: #c6cad0;
}

#main-inp {
    color: #c6cad0;
}

#main-inp::placeholder {
    color: #c6cad0;
}

.main-inp-btn {
    background-color: #343541 !important;
    border: 1px solid #c6cad0;
    color: #c6cad0;
}

::placeholder {
    opacity: 1;
    color: #c6cad0;
}


.optionsBody {
    padding: 1rem;
    height: 100%;
    background-color: #343541;
    color: #c6cad0;
}

.gptOptionsHeader {
    text-align: center;
}

#optionsSaved {
    color: white;
    margin-top: 0.8rem;
}

#optionsSavedWrapper {
    display: none;
    border-radius: 0.5rem;
    background-color: green;
    padding: 0.1rem 0.8rem;
    margin-top: 0.3rem;
}